<table style="margin-left: -3rem;" class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <th scope="row">{{transaction.id}}</th> <!-- Índice da pessoa na lista -->
        <td>{{ transaction.title }}</td>
        <td>R${{ transaction.amount | number:'1.2-2' }} </td>
        <td>{{ transaction.createdAt | date:'dd/MM/yyyy'}}</td>
        <td><a (click)="onClick(transaction.id)" style="cursor: pointer;"><i class="fa-solid fa-trash-can"></i></a></td>
      </tr>
    </tbody>
  </table>
