mat-card div{
    width: 100%;
    
}

mat-card {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
    margin-top: 4rem;
}