<div class="px-4 pt-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Gerencie Seus Gastos
        <br>
        <strong class="text-warning">Controle Seu Dinheiro</strong>
    </h1>
    
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Comece a Criar Orçamentos e Salvar Dinheiro</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-warning btn-lg px-4 gap-3">Comece Já</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver Mais</button>
      </div>
    </div>

    <div class="py-4 my-5">
        <div class="container px-5">
          <img src="/Dashboard.png" class="img-fluid border rounded-3 shadow-lg mb-4" style="object-fit: cover; width: 100%; max-height: none;">
        </div>
    </div>
</div>

