<div class="mt-3 row">
    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="p-2 border rounded d-flex justify-content-between align-items-center">
            <div>
                <h2 class="fs-4 mb-0 fw-bold">Total Budget</h2>
                <h2 class="fs-5 mb-0 mt-0 fw-bold">R${{totalAmount}}</h2>
            </div>
            <i class="fa-solid fa-piggy-bank fa-2x custom-background"></i>
            
            
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="p-2 border rounded d-flex justify-content-between align-items-center">
            <div>
                <h2 class="fs-4 mb-0 fw-bold">Total Spend</h2>
                <h2 class="fs-5 mb-0 mt-0 fw-bold" >R${{totalSpend}}</h2>
            </div>
            <div>
                <i class="fa-solid fa-chart-pie fa-2x custom-background"></i>
            </div>
            
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="p-2 border rounded d-flex justify-content-between align-items-center">
            <div>
                <h2 class="fs-4 mb-0 fw-bold">Number Of Bud.</h2>
                <h2 class="fs-5 mb-0 mt-0 fw-bold">{{budgets.length}}</h2>
            </div>
            <i class="fa-solid fa-wallet fa-2x custom-background"></i>
        </div>
    </div>
</div>