<div>
    <div *ngIf="qrCodeUri">
      <mat-card>
        <img [src]="qrCodeUri" alt="QR Code" style="width: 150px; height: auto;">
        <p>Escaneie o QR code com seu aplicativo Google Authenticator.</p>
        <mat-form-field class="custom-mat-input">  
          <input matInput type="text" [(ngModel)]="code" placeholder="Código de Verificação">             
        </mat-form-field>  
        <button mat-flat-button (click)="verifyTwoFactor()">Verificar</button>
      </mat-card>
    </div>
  </div>