.transaction-box{
    width: 100%;
    gap: 15px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    margin-bottom: 1rem;
    margin-top: -5rem;
   
  }